@font-face {
    font-family: 'BreakingBad';
    src: url(/fonts/BreakingBad.otf);
}

body{
    background-color: #e9c46a;
    margin: 0px;
    padding: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.first-section, #header {
    background-color: #3d8a55;
    color: rgb(241, 241, 241);
}

.logo-header{
    display: flex;
    width: 450px;
    height: 104px;
    align-items: center;
    justify-content: flex-start;
    gap:30px;
    margin: 0;
}

#header{
    display: flex;
    align-items: center;
    padding: 0 250px;
    font-family: BreakingBad;
    font-size: 25px;
    
}

.first-section-container{
    display: flex;    
}

.second-section{
    display: flex;
    flex-direction: column;
}

.second-section-container{
    display: flex;
    text-align: center;
    justify-content: center;
    gap:9em;   
}

.item{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100px;
}

#second-section-header{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    padding-bottom: 20px;
}

#hero{
    font-size: 38px;
    margin: 0;
    
}

.third-section{
    background-color: #81a7ca;
    margin-top: 40px;
    height: 250px;
}

.jesse-quote{
    width: 700px;
    font-style: italic;
    font-size: 36px;
    color:#000000;
    margin:auto;
    padding:10px;
    
}

span{
    width: 200px;
}

#jesse-pinkman{
    font-size: 20px;
    font-style: italic;
    width: 130px;
    margin-left:auto;
}

.text{
    display: flex;
    flex-direction: column;
    width: 700px;
    flex-wrap: wrap;
    padding:70px 250px;
}

.img{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.fourth-section{
    display: flex;
    margin-top: 70px;
    justify-content: center;
}

.cta-container{
    display: flex;
    width: 760px;
    background-color: #f77d61;
    padding: 30px;
    justify-content: space-evenly;
    border-radius: 10px;
    margin-bottom:60px ;
}

.cta-texts{
    display: flex;
    flex-direction: column;
}

.signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    color: #ffffff;
    font-weight: bold;
    border: none;
    outline:2px;
    outline-style:solid;
    outline-color: #ffffff;
    border-radius: 5px;
    background-color: #369457;
    padding: 5px 40px 5px 40px;
    width: 150px; 
}

.footer{
    display: flex;
    color:#ffffff;
    background-color: #3d8a55;
    height: 70px;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-bar{
    display: flex;
    align-items: center;
    margin-left: auto;  
}

ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}

a{
    color: white;
    text-decoration: none;
}